@charset "UTF-8";

@font-face {
	font-family: "Maragsa";
	src: url("../fonts/Maragsâ-Display.otf");
}

/* Text Styles */

h1 {
    font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    color: white;
}

h2 {
    font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 56px;
    color: white;
}

h3 {
    font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    color: white;
}

h4 {
  font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  color: white;
}

h5 {
  font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  color: white;
  letter-spacing: 2px;
}

h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 56px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: white;
    line-height: 42px;
}

/* Site-Wide */

body {
    background-color: black;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F905F6;
}

.btn-no-border {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
    background: none;
    border: none;
    padding: 15px 32px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-no-border span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-no-border span:after {
    content: url(../images/personal-brand/icons\ -\ white/right-arrow.png);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -100px;
    transition: 0.5s;
  }

  .btn-no-border:hover span {
    padding-right: 70px;
  }
  
  .btn-no-border:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-border {
    background: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 8px;
    margin-top: 5%;
    width: 35%;
  }

  .btn-border:hover {
    background-color: white;
    color: black;
  }

  label {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .text-bg {
    background-color: #1F1F1F;
    padding: 50px;
  }

/* TOP NAVIGATION */

.navbar {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-logo {
  max-height: 50px;
  transform: translateY(12px);
}

.nav-logo:hover {
  transform: translateY(0.2px);
  transition: all 0.3s;
}

.nav-item {
  padding: 20px;
  padding-bottom: 2px;
  font-size: 18px;
  color: white;
}
.nav-item:hover{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    transform: translateY(-5px);
    text-decoration: none;
    transition: all 0.2s;
    transform: translateY(-5px);
}  

.nav-item:hover::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  border: 1px solid white;
}

.nav-item-active {
  padding: 20px;
  padding-bottom: 2px;
  font-size: 18px;
  color: white;
}

.nav-link.active {
  border-bottom: 2px solid white;
  transform: translateY(-5px);
}

.nav-link:hover {
  color: white;
}

  /* Hero Section */

  .hero {
      text-align: center;
      padding: 20px;
      margin: 120px;
      transition: all 1s;
  }

  #hero-title {
    font-size: 96px;
  }

  /* Recent Work Section */

  .recent-work {
      padding: 100px;
      transition: all 1s;
  }

  .recent-work button {
      clear: both;
  }

  /* Services Section */

  .services {
      padding: 100px;
  }

  .services li {
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      list-style: none;
      font-weight: 600;
      font-size: 27px;
      line-height: 38px;
      letter-spacing: 4px;
      text-transform: uppercase;
  }

  /* Contact Form */

  .mail-form-container {
      background-color: #1F1F1F;
      padding: 100px;
      margin: 100px 0px 100px 0px;
  }

  .form-control {
    border: none;
    outline: none;
    border-radius: 0%;
    color: black;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }


 #submit-btn {
    background: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 5px;
    width: 40%;
    margin: auto;
    margin-top: 8px;
  }

  #submit-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  /* Work */

  .work {
    margin: 50px 180px 50px 180px;
  }

 #work-nav {
    display: flex;
  }

  .work-detail-container {
    margin-top: 3%;
    margin-bottom: 3%;
  }

.btn-work-nav {
  background: none;
  border: none;
  color: rgb(172, 172, 172);
  font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 48px;
  margin: 18px;
}

.btn-work-nav:hover {
  color: white;
  text-decoration: underline;
}

.btn-work-nav.active {
  color: white;
  text-decoration: underline;
}

.work-container {
  text-align: center;
  overflow: hidden;
}

.filterDiv {
  display: none;
  position: relative;
  width: 48%;
  margin: 10px;
}

.filterDiv:hover {
  cursor: pointer;
}

.filterDiv:hover .work-thumbnail-img {
  opacity: 0.3;
}

.filterDiv:hover .middle {
  opacity: 1;
}

.show {
  display: inline-block;
}

.work-thumbnail-img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.work-titles {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  margin: 5px 0px 10px 0px;
}

/* Work Pages */

.work-hero {
  padding: 20px 100px 40px 100px;
}

.work-hero img {
  width: 100%;
}

.work-summary {
  padding: 50px 100px 100px 100px;
}

.work-detail {
  padding: 50px 100px 100px 100px;
}

.work-page-headers {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 2%;
}

#small-menu {
  overflow: hidden;
  background-color: #1F1F1F;
  padding: 10px;
  width: 12%;
  float: right;
  transform: translateX(-200px);
  transform: translateY(110px);
}

#small-menu a {
  display: block;
  color: white;
  text-align: left;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#small-menu a:hover {
  padding-left: 12px;
  border-left: 5px solid #4F4FE0;
  font-style: italic;
  color: white;
}

.sticky {
  position: fixed;
  width: 12%;
  top: 10%;
  right: 8%;
}

/* About */

.about-me {
  margin: 100px;
}

.credits {
  margin: 100px;
}

/* Contact */

.contact-me {
  padding: 100px;
}

/* Footer */

  footer {
      text-align: center;
      margin: 30px;
  }

  #footer-text {
    font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: -5px;
  }

  footer p {
      font-size: 20px;
  }

  .footer-icons {
      margin: auto;
      padding: 12px;
  }

  /* Media Queries */


  @media only screen and (max-width: 800px) {
    /* For tablets: */
    

    /* Typefaces */

    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 32px;
  }
  h3 {
      font-size: 27px;
  }
  h4 {
    font-family: "Maragsa", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
  }
  
  h5 {
    font-size: 22px;
    letter-spacing: 2px;
  }
  
  h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 56px;
  }
  
  p {
      font-size: 20px;
      line-height: 32px;
  }

  /* Site Wide */


.btn-no-border {
    font-size: 24px;
    letter-spacing: 2px;
    width: 100%;
}

.btn-no-border span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

  .text-bg {
    background-color: #1F1F1F;
    padding: 50px;
  }

  /* TOP NAVIGATION */

  .navbar-brand {
    display: none;
  }

.navbar {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-item {
  padding: 10px;
  font-size: 18px;
}

.nav-item-active {
  padding-left: 10px;
  font-size: 18px;
}

  /* Hero Section */

  .hero {
      text-align: center;
      padding: 20px;
      margin: 24px;
      transition: all 1s;
  }

  #hero-title {
    font-size: 72px;
  }

    /* Recent Work Section */

    .recent-work {
      padding: 20px;
  }

  /* Services Section */

  .services {
      padding: 20px;
  }

  .services li {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 2px;
  }

    /* Contact Form */

    .mail-form-container {
      background-color: #1F1F1F;
      padding: 40px;
      margin: 80px 0px 100px 0px;
  }


 #submit-btn {
    border: 2px solid white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 5px;
    width: 100%;
    margin: auto;
    margin-top: 8px;
  }

  /* Work */

  .work {
    margin: 0px 0px 0px 0px;
  }

 #work-nav {
    display: flex;
  }

  .work-detail-container {
    margin-top: 3%;
    margin-bottom: 3%;
  }

.btn-work-nav {
  font-size: 28px;
  margin: 14px;
}

.filterDiv {
  display: none;
  position: relative;
  width: 100%;
  margin: 5px;
}

.show {
  display: inline-block;
}

/* Work Pages */

.work-hero {
  padding: 0px 0px 0px 0px;
}

.work-summary {
  padding: 40px 40px 40px 40px;
}

.work-detail {
  padding: 5px 5px 5px 5px;
}

.work-detail-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.work-page-headers {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 2%;
}

#small-menu {
  display: none;
}

/* About */

.about-me {
  margin: 30px;
}

.credits {
  margin: 30px;
}

/* Contact */

.contact-me {
  padding: 30px;
}

/* Footer */

  footer {
      margin: 10px;
  }

  #footer-text {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  footer p {
      font-size: 20px;
  }

  }



  